@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @apply bg-base text-white;
}

.checkbox-details, .checkbox-shadow, .checkbox-wrapper {
  @apply relative;

}

.checkbox-shadow::before {
  content: '';
  @apply relative left-0 top-0.5 w-4 h-4 rounded-sm border-2 border-primary cursor-pointer;
}


.disabled .checkbox-shadow::before {
  @apply border-gray-400;
}

[type="checkbox"]:checked + .checkbox-details {
  cursor: pointer;
  @apply border border-primary;
}

[type="checkbox"]:checked + .checkbox-details > .checkbox-shadow::after {
  content: '';
  @apply absolute w-1.5 h-1.5 left-[5px] top-[7px] bg-primary;
}

.checkbox-details.disabled {
  @apply bg-gray-50/5;
}

.checkbox-details.disabled label {
  @apply text-gray-200;
}

/* fab button */
.active .icon-clear {
  @apply rotate-0;
}
